# --- Database (Supabase) ---
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# --- AI APIs ---
NVIDIA_API_KEY=
GEMINI_API_KEY=

# --- Search API ---
TAVILY_API_KEY=
